<div class="flex-container">
	<div class="headingName"><%= current_user.name %></div>
	<%= image_tag current_user.image.url, class:'img-responsive rounded image-cropper' %>
	<%= link_to 'Edit Profile', edit_user_path(current_user) %>
</div>

<ul class="nav nav-pills">
  <li><%= link_to "Boards", boards_path %></li>
  <li class="active"><%= link_to "Pins", pins_path %></li>
  <li><%= link_to "Likes" %></li>
</ul>

<div id="masonry-grid" class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 300 }'>
<% @pins.each do |pin| %>
	<div class="card grid-item">
	  <div class="card-image"><%= image_tag pin.image.url %>
	  	<% if pin.board.user == current_user %>
	      <%= link_to 'Edit', edit_pin_path(pin), :class => 'btn btn-xs btn-default edit' %>
	      <%= link_to 'Delete', pin, :class => 'btn btn-xs btn-default delete', method: :delete, data: {
	        confirm: 'Are you sure?' } %>
	    <% end %>
	  </div>
	  
	  <div class="card-block">
	    <p class="card-text"><%= pin.description %></p>
	  </div>

<% end %>
</div>

<script>
ready();
</script>
