<div class="flex-container">
	<div class="headingName"><%= current_user.name %><br>
		<%= current_user.location %>&nbsp; &frasl; &nbsp;<%= current_user.about %>
	</div>	
	<div class="profile-image">
		<%= image_tag current_user.image.url, class:'img-responsive rounded image-cropper' %>
		<%= link_to 'Edit Profile', edit_user_path(current_user), :class => 'btn btn-xs btn-default edit' %>
	</div>
</div>

<ul class="nav nav-pills">
  <li><%= link_to "Boards", boards_path %></li>
  <li class="active"><%= link_to "Pins", pins_path %></li>
</ul>

<div class="container">
	
	<% @pins.each do |pin| %>
	
	  <div class="pin">
	    <%= image_tag pin.image.url, :class => "pin-img-top" %>
	    	<% if pin.board.user == current_user %>
	        	<%= link_to 'Edit', edit_pin_path(pin), :class => 'btn btn-xs btn-default edit' %>
	        	<%= link_to 'Delete', pin, :class => 'btn btn-xs btn-default delete', method: :delete, data: { confirm: 'Are you sure?' } %>
	      	<% end %>
	    <div class="pin-block">
	      <h4 class="pin-title"><%= pin.description %></h4>
	      <p class="pin-text"></p>
	    </div>
	  </div>
	
	<% end %>

</div>