<%= form_for @user, html: { multipart: true } do |f| %>

	<% if @user.image.exists? %>
	  <%= image_tag @user.image.url(:thumb) %><br/>
	  <%= f.check_box :delete_image %>Delete Image<br/>
	<% end %>

	<%= f.label :about %><br>
	<%= f.text_field :about %><br>

	<%= f.label :location %><br>
	<%= f.text_field :location %><br>
	
	<%= f.file_field :image %>

	<div class="actions"><%= f.submit %></div>
	
<% end %>