<div class="headingName"><%= @user.name %></div>

<ul class="nav nav-pills">
  <li class="active"><%= link_to "Boards", boards_path %></li>
  <li><%= link_to "Pins", pins_path %></li>
  <li><%= link_to "Likes" %></li>
</ul>

<br>

<% current_user.boards.each do |board| %>
	<h3 class="boardLabel"><%= link_to board.name, board %></h3>
	<%= board.pins.count %> Pins
<% end %>

