<div class="headingName">Profile Name</div>

<ul class="nav nav-pills">
  <li class="active"><%= link_to "Boards", boards_path %></li>
  <li><%= link_to "Pins" %></li>
  <li><%= link_to "Likes" %></li>
</ul>





<br>

<% @boards.each do |board| %>
	<h3 class="boardLabel"><%= link_to board.name, board %></h3>
	<%= Pin.count %>
<% end %>
