<h1>All Boards</h1>

<% @boards.each do |board| %>
	<h3><%= link_to board.name, board %></h3>

	<%= link_to 'Edit', edit_board_path(board) %>
	<%= link_to 'Destroy', board, method: :delete, data: {
		confirm: 'Are you sure?' } %>
<% end %>

<br>

<%= link_to 'New Board', new_user_board_path %>
<%= link_to 'Back', user_path(:user_name) %>
