<h1>All Boards</h1>

<%= link_to 'New Board', new_board_path %>
<%= link_to 'Back', root_path %>

<% @boards.each do |board| %>
	<h3><%= link_to board.name, board %></h3>

	<%= link_to 'Edit', edit_board_path(board) %>
	<%= link_to 'Delete', board, method: :delete, data: {
		confirm: 'Are you sure?' } %>
<% end %>

<br>


