<div class="headingName"><%= @user.name %></div>

<%= image_tag @user.image.url, class:'img-responsive rounded image-cropper' %>
<%= link_to 'Edit Profile', edit_user_path(:id) %>

<ul class="nav nav-pills">
  <li class="active"><%= link_to "Boards", boards_path %></li>
  <li><%= link_to "Pins", pins_path %></li>
  <li><%= link_to "Likes" %></li>
</ul>



<%= link_to 'New Board', new_board_path %>
<%= link_to 'Back', root_path %>

<% @boards.each do |board| %>
	<%= image_tag board.image.url(:thumb) %>
	<h3><%= link_to board.name, board %></h3>

	<%= link_to 'Edit', edit_board_path(board) %>
	<%= link_to 'Delete', board, method: :delete, data: {
		confirm: 'Are you sure?' } %>
<% end %>

<br>


