<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %> |
<%= link_to 'New Pin', new_board_pin_path(@board) %>

<div class="boardHeader">
  <h1 class="boardName"><%= @board.name %></h1>
</div>

<% @board.pins.each do |pin| %>

<div class="card">
  <div class="card-image"><%= image_tag pin.image.url %>
  	<% if @board.user == current_user %>
      <%= link_to 'Edit', edit_pin_path(pin), :class => 'btn btn-xs btn-default edit' %>
  	
      <%= link_to 'Delete', pin, :class => 'btn btn-xs btn-danger delete', method: :delete, data: {
        confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  
  <div class="card-block">
    <p class="card-text"><%= pin.description %></p>
  </div>

</div>
	
<% end %>