<!DOCTYPE html>
<html>
<head>
  <title>The Pinterest Project</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>

  <nav class="navbar">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><%= link_to(image_tag("pinterest-logo.png"), root_path) %></li>
        <div class="navbar-left">
        <% if current_user %>
          Welcome, <%= current_user.name %>
          &nbsp;|&nbsp;
          <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
        <% else %>
          <%= link_to 'Log In', login_path %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>
        </div>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to(image_tag("user-avatar.png"), user_path(:id)) %></li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid" id="container"> 
  <%= yield %>
  </div>

</body>

</html>