<!DOCTYPE html>
<html>
<head>
  <title>Pinterest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.js"></script>
</head>

<body class="container-fluid">

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="http://www.nwakidsdirectory.com/wp-content/uploads/2015/05/pinterest-logo-transparent-300x300.png" width="28" height="28"></a>
    </div>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Profile', user_path(current_user) %></li>
    </ul>
  </div>
</nav>

<p>
  <% if current_user %>
  	Welcome, <%= current_user.name %>
  	&nbsp;&nbsp;|&nbsp;&nbsp;
  	<%= link_to 'Log Out', session_path('dummy'), method: :delete %>
  <% else %>
  	<%= link_to 'Log In', login_path %>
  	&nbsp;&nbsp;|&nbsp;&nbsp;
  	<%= link_to 'Sign Up', new_user_path %>
  <% end %>
</p>

<%= yield %>

</body>
</html>
